body{
  background-color: black;
  min-height: 100vh;
}
nav{
  color: red;
}
.container{
  min-height: 100vh;
}
.login-text {
  color: white;
}
.main-content {
  padding-left: 0px;
  padding-right: 0px;
}
