<div class="row-fluid">
  <div class="span10">
    <h2>Now Playing</h2>

    <mat-grid-list cols="4" rowHeight="500px">
      <mat-grid-tile
          *ngFor="let movie of movies">
          <mat-card [routerLink]="movie.id" class="card">
            <img mat-card-image class="card-img-top" style="height:300px;" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title style="color:red;text-align:center;font-weight:bold;">{{movie.title}}</mat-card-title>
              <mat-card-subtitle style="color:white;text-align:center;">{{movie.release_date | date:'longDate' }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
