<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Movie Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMovie" aria-controls="navbarMovie" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMovie">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><app-home></app-home><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  role="button" aria-haspopup="true" aria-expanded="false">
          <app-in-theaters></app-in-theaters>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#"  role="button" aria-haspopup="true" aria-expanded="false">
          <app-on-tv></app-on-tv>
        </a>
      </li>
    </ul>
  </div>
</nav>
